
.container{
    padding-top: 100px;
}

.card {
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
  }
  
  .card-img-top {
    max-width: 100%;
 
 
  }

  .card-text {
    color: #333;
  }
  
  
  @media (max-width: 768px) {
    .card {
      margin-bottom: 50px;
    }
  }
  